[package]
name = "seekstorm"
version = "0.12.3"
authors = ["Wolf Garbe <wolf.garbe@seekstorm.com>"]
license = "Apache-2.0"
categories = ["database-implementations", "data-structures"]
description = """Search engine library & multi-tenancy server"""
documentation = "https://docs.rs/seekstorm/"
homepage = "https://seekstorm.com"
repository = "https://github.com/SeekStorm/SeekStorm"
readme = "README.md"
keywords = ["search", "information", "retrieval"]
edition = "2021"
exclude = ["assets/*.png","assets/*.jpg"]

[features]
# comment out entry below if you don't need Chinese word segmentation
default = ["zh"]
zh = []

[lib]
name = "seekstorm"
path = "src/seekstorm/lib.rs"

[[bin]]
name = "seekstorm_server"
path = "src/seekstorm_server/main.rs"

[dependencies]
crossbeam-channel = "0.5.14"
ctrlc = "3.4.5"
serde = { version = "1.0.216", features = ["derive"] }
serde_json = "1.0.133"
tokio = { version = "1.42.0", features = ["full"] }
base64 = "0.22.1"
num-format = "0.4.4"
ahash ={ version = "0.8.11", features = ["serde"]}
rand = "0.8.5"
futures = "0.3.31"
num = "0.4.3"
num-derive = "0.4.2"
num-traits = "0.2.19"
regex = "1.11.1"
lazy_static = "1.5.0"
hyper = { version = "1.5.2", features = ["full","server"] }
hyper-util = { version ="0.1.10",  features = ["server","tokio","http1","http2"]}
http-body-util = "0.1.2"
url = "2.5.4"
sha2 = "0.10.8"
itertools = "0.13.0"
async-recursion = "1.1.1"
zstd = "0.13.2"
rayon = "1.10.0"
aho-corasick = "1.1.3"
smallvec = "1.13.2"
memmap2 = "0.9.5"
regex-syntax = "0.8.5"
indexmap = { version = "2.7.0", features = ["serde"]}
unicode-normalization = "0.1.24"
finl_unicode = "1.3.0"
colored = "2.2.0"
walkdir = "2.5.0"
pdfium-render = { version ="0.8.27",  features = ["thread_safe","sync"]}
chrono = "0.4.39"
utoipa = { version ="5.3.0",  features = ["preserve_order","preserve_path_order","yaml"]}

[lints.rust]
missing_docs = "warn"
unused_import_braces = "warn"
trivial_casts = "warn"
trivial_numeric_casts = "warn"
unused_qualifications = "warn"

[profile.release]
lto = true
opt-level = 3
debug = false
debug-assertions = false
panic = "abort"
overflow-checks = false
strip = "debuginfo"
